
WORKING_DIR=/gr_2025_1493_ne_WMB_GDB/work
BRWMB_TARGETS=/gr_2025_1493_ne_WMB_GDB/source_data/spreadsheets/brwmb_targets.csv
source_data=/gr_2025_1493_ne_WMB_GDB/source_data
MARXAN_INPUTS=/gr_2025_1493_ne_WMB_GDB/source_data/marxan_inputs
WMB_ECONOMIC=/gr_2025_1493_ne_WMB_GDB/source_data/wmb_economic
INPUT_PARQUETS=/gr_2025_1493_ne_WMB_GDB/source_data/blue_berry_wmb_geoparq
OUTPUT_PARQUETS=/gr_2025_1493_ne_WMB_GDB/work/brwmb_parquets
OUTPUT_PARQUETS_3cells=/gr_2025_1493_ne_WMB_GDB/work/brwmpb_parquets_3cells
WMV_INPUTS=/gr_2025_1493_ne_WMB_GDB/source_data/wmv_inputs
TABLE_OUPUTS=/gr_2025_1493_ne_WMB_GDB/deliverables/statistics

